/* Trending Games section */
.trending-news {
  background-color: #222;
  padding: 40px 20px;
  text-align: center;
}

.trending-news h2 {
  font-size: 2.5em;
  color: #0f9;
  margin-bottom: 20px;
  word-wrap: break-word;
  white-space: normal;
}

.trending-news ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trending-news li {
  margin: 15px 0;
}

.trending-news a{
  color: #0f9;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.trending-news a:hover, .trending-news a:focus {
  color: #fff;
  text-decoration: underline;
}

/* Mobile optimization */
@media (max-width: 768px) {
  .trending-news h2 {
    font-size: 2em;
  }
  .trending-news a {
    font-size: 1.1em;
  }
}